
/* h1{
    color: red;
    font-size: 1rem;
} */

p{color: rgb(255, 47, 47);}
body{background-color: rgb(255, 245, 105);
font-size: 2rem;}

/* h3{background-color: indianred;} */

.alll{
    margin-left: 36%;
    margin-top: 165px;
}